# <a href="https://geoportal.dane.gov.co/servicios/descarga-y-metadatos/visor-descarga-geovisores/"> Population Dataset shapefile format<a/>

In [1]:
# Import necessary modules
import geopandas as gpd

In [2]:
# Add path to folder with shapefile
path = '../Data/Census_data/'
out_path = '../Data/Census_data.csv'

In [3]:
# Read file using gpd.read_file()
data = gpd.read_file(path)
data.head(3)

,DPTO_CCDGO,MPIO_CCDGO,MPIO_CNMBR,MPIO_CDPMP,VERSION,AREA,LATITUD,LONGITUD,STCTNENCUE,STP3_1_SI,...,STP34_9_ED,STP51_PRIM,STP51_SECU,STP51_SUPE,STP51_POST,STP51_13_E,STP51_99_E,Shape_Leng,Shape_Area,geometry
0,18,001,FLORENCIA,18001,2018,2.547638e+09,1.749139,-75.558239,71877.0,32.0,...,2244.0,37918.0,14123.0,14606.0,856.0,5892.0,3799.0,2.942508,0.206928,"POLYGON ((-75.42074 2.19413, -75.42042 2.19412..."
1,18,029,ALBANIA,18029,2018,4.141221e+08,1.227865,-75.882327,2825.0,24.0,...,92.0,1696.0,150.0,98.0,0.0,215.0,46.0,1.112829,0.033618,"POLYGON ((-75.89506 1.36570, -75.89506 1.36570..."
2,18,094,BELÉN DE LOS ANDAQUÍES,18094,2018,1.191619e+09,1.500923,-75.875645,4243.0,54.0,...,145.0,2596.0,418.0,171.0,12.0,720.0,123.0,2.234657,0.096745,"POLYGON ((-75.78705 1.74982, -75.78715 1.74956..."

In [4]:
for i, datatype in enumerate(data.dtypes):
    print(f'column: {data.columns[i]} has datatype: {datatype}')

column: DPTO_CCDGO has datatype: object
column: MPIO_CCDGO has datatype: object
column: MPIO_CNMBR has datatype: object
column: MPIO_CDPMP has datatype: object
column: VERSION has datatype: int64
column: AREA has datatype: float64
column: LATITUD has datatype: float64
column: LONGITUD has datatype: float64
column: STCTNENCUE has datatype: float64
column: STP3_1_SI has datatype: float64
column: STP3_2_NO has datatype: float64
column: STP3A_RI has datatype: float64
column: STP3B_TCN has datatype: float64
column: STP4_1_SI has datatype: float64
column: STP4_2_NO has datatype: float64
column: STP9_1_USO has datatype: float64
column: STP9_2_USO has datatype: float64
column: STP9_3_USO has datatype: float64
column: STP9_4_USO has datatype: float64
column: STP9_2_1_M has datatype: float64
column: STP9_2_2_M has datatype: float64
column: STP9_2_3_M has datatype: float64
column: STP9_2_4_M has datatype: float64
column: STP9_2_9_M has datatype: float64
column: STP9_3_1_N has datatype: float64
column: STP9_3_2_N has datatype: float64
column: STP9_3_3_N has datatype: float64
column: STP9_3_4_N has datatype: float64
column: STP9_3_5_N has datatype: float64
column: STP9_3_6_N has datatype: float64
column: STP9_3_7_N has datatype: float64
column: STP9_3_8_N has datatype: float64
column: STP9_3_9_N has datatype: float64
column: STP9_3_10 has datatype: float64
column: STP9_3_99 has datatype: float64
column: STVIVIENDA has datatype: float64
column: STP14_1_TI has datatype: float64
column: STP14_2_TI has datatype: float64
column: STP14_3_TI has datatype: float64
column: STP14_4_TI has datatype: float64
column: STP14_5_TI has datatype: float64
column: STP14_6_TI has datatype: float64
column: STP15_1_OC has datatype: float64
column: STP15_2_OC has datatype: float64
column: STP15_3_OC has datatype: float64
column: STP15_4_OC has datatype: float64
column: TSP16_HOG has datatype: float64
column: STP19_EC_1 has datatype: float64
column: STP19_ES_2 has datatype: float64
column: STP19_EE_1 has datatype: float64
column: STP19_EE_2 has datatype: float64
column: STP19_EE_3 has datatype: float64
column: STP19_EE_4 has datatype: float64
column: STP19_EE_5 has datatype: float64
column: STP19_EE_6 has datatype: float64
column: STP19_EE_9 has datatype: float64
column: STP19_ACU1 has datatype: float64
column: STP19_ACU2 has datatype: float64
column: STP19_ALC1 has datatype: float64
column: STP19_ALC2 has datatype: float64
column: STP19_GAS1 has datatype: float64
column: STP19_GAS2 has datatype: float64
column: STP19_GAS9 has datatype: float64
column: STP19_REC1 has datatype: float64
column: STP19_REC2 has datatype: float64
column: STP19_INT1 has datatype: float64
column: STP19_INT2 has datatype: float64
column: STP19_INT9 has datatype: float64
column: STP27_PERS has datatype: float64
column: STPERSON_L has datatype: float64
column: STPERSON_S has datatype: float64
column: STP32_1_SE has datatype: float64
column: STP32_2_SE has datatype: float64
column: STP34_1_ED has datatype: float64
column: STP34_2_ED has datatype: float64
column: STP34_3_ED has datatype: float64
column: STP34_4_ED has datatype: float64
column: STP34_5_ED has datatype: float64
column: STP34_6_ED has datatype: float64
column: STP34_7_ED has datatype: float64
column: STP34_8_ED has datatype: float64
column: STP34_9_ED has datatype: float64
column: STP51_PRIM has datatype: float64
column: STP51_SECU has datatype: float64
column: STP51_SUPE has datatype: float64
column: STP51_POST has datatype: float64
column: STP51_13_E has datatype: float64
column: STP51_99_E has datatype: float64
column: Shape_Leng has datatype: float64
column: Shape_Area has datatype: float64
column: geometry has datatype: geometry

In [5]:
columns = ["total_population", "Municipality_code", "latitude", "longitude"]
data = data.rename(columns={"STP27_PERS":"total_population", "MPIO_CDPMP": "Municipality_code", "LATITUD": "latitude", "LONGITUD": "longitude"})
data = data[columns]

In [6]:
data

      total_population Municipality_code  latitude  longitude
0             156789.0             18001  1.749139 -75.558239
1               4514.0             18029  1.227865 -75.882327
2               9075.0             18094  1.500923 -75.875645
3              17775.0             18247  1.791386 -75.193944
4              13014.0             18256  1.617746 -75.234043
...                ...               ...       ...        ...
1117          134658.0             25290  4.323534 -74.388591
1118            7547.0             25662  4.841098 -74.658493
1119           23616.0             73349  5.179417 -74.783031
1120           81797.0             05631  6.138305 -75.608806
1121           67881.0             05380  6.137596 -75.648955

[1122 rows x 4 columns]

In [7]:
data.dtypes

total_population     float64
Municipality_code     object
latitude             float64
longitude            float64
dtype: object

In [8]:
data.isnull().sum()

total_population     0
Municipality_code    0
latitude             0
longitude            0
dtype: int64

In [9]:
# Download Data as csv
data.to_csv(out_path)