In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
#% cd /content/drive/MyDrive/COMPETENCIAS /NASA - COVID - MIT_critical_data/data

In [7]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/COMPETENCIAS /NASA - COVID - MIT_critical_data/data/data_space_pre_processed.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10854 entries, 0 to 10853
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LAT          10854 non-null  float64
 1   LON          10854 non-null  float64
 2   YEAR         10854 non-null  int64
 3   MO           10854 non-null  int64
 4   DY           10854 non-null  int64
 5   T2M          10854 non-null  float64
 6   T2MDEW       10854 non-null  float64
 7   TS           10854 non-null  float64
 8   PRECTOTCORR  10854 non-null  float64
 9   PS           10854 non-null  float64
dtypes: float64(7), int64(3)
memory usage: 848.1 KB

In [14]:
import copy
columns = ['LAT', 'LON','YEAR', 'MO', 'DY', 'T2M', 'T2MDEW', 'TS', 'PRECTOTCORR', 'PS']
covariant = df[columns].copy()
covariant

        LAT    LON  YEAR  MO  DY    T2M  T2MDEW     TS  PRECTOTCORR     PS
0      3.25 -76.75  2021   4   1  21.02   19.00  21.27         4.82  87.67
1      3.25 -76.25  2021   4   1  16.38   13.87  16.87         1.06  78.06
2      3.25 -75.75  2021   4   1  18.70   15.76  19.19         1.75  82.44
3      3.25 -75.25  2021   4   1  21.27   17.45  21.61         1.83  86.52
4      3.25 -74.75  2021   4   1  21.44   17.93  21.66         2.04  87.60
...     ...    ...   ...  ..  ..    ...     ...    ...          ...    ...
10849  7.25 -74.75  2021   8  12  23.44   21.77  23.44         7.57  94.67
10850  7.25 -74.25  2021   8  12  24.58   22.85  24.54         6.91  96.39
10851  7.25 -73.75  2021   8  12  25.27   23.35  25.27        10.00  97.45
10852  7.25 -73.25  2021   8  12  20.23   16.90  20.29         5.30  86.63
10853  7.25 -72.75  2021   8  12  16.28   13.47  16.51         3.89  80.99

[10854 rows x 10 columns]

In [15]:
# Set Data type as int
date_columns = ['YEAR', 'MO', 'DY']
covariant[date_columns] = df[date_columns].astype('int')
covariant[date_columns].dtypes

def merge_dates(x):
    #print(x)
    #print("----")
    return str(x[0]) + '-' + str(x[1]) + '-' + str(x[2])

# Get Date in Day - Month - Year format
covariant['Date'] = covariant[date_columns].apply(merge_dates, axis = 1)
covariant['Date'] = pd.to_datetime(covariant['Date'])
# Drop Day, Month, Year
covariant.drop(columns = date_columns, axis=1, inplace=True)
covariant.head(3)

    LAT    LON    T2M  T2MDEW     TS  PRECTOTCORR     PS       Date
0  3.25 -76.75  21.02   19.00  21.27         4.82  87.67 2021-04-01
1  3.25 -76.25  16.38   13.87  16.87         1.06  78.06 2021-04-01
2  3.25 -75.75  18.70   15.76  19.19         1.75  82.44 2021-04-01

In [17]:
covariant.drop('LAT', axis=1, inplace=True)
covariant.drop('LON', axis=1, inplace=True)
covariant

         T2M  T2MDEW     TS  PRECTOTCORR     PS       Date
0      21.02   19.00  21.27         4.82  87.67 2021-04-01
1      16.38   13.87  16.87         1.06  78.06 2021-04-01
2      18.70   15.76  19.19         1.75  82.44 2021-04-01
3      21.27   17.45  21.61         1.83  86.52 2021-04-01
4      21.44   17.93  21.66         2.04  87.60 2021-04-01
...      ...     ...    ...          ...    ...        ...
10849  23.44   21.77  23.44         7.57  94.67 2021-08-12
10850  24.58   22.85  24.54         6.91  96.39 2021-08-12
10851  25.27   23.35  25.27        10.00  97.45 2021-08-12
10852  20.23   16.90  20.29         5.30  86.63 2021-08-12
10853  16.28   13.47  16.51         3.89  80.99 2021-08-12

[10854 rows x 6 columns]

In [19]:
# Download Data as csv
covariant.to_csv('spatial_data_merge_by_date.csv')